/* Ajoutez ces styles à votre fichier CSS */

.form_container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.form_container h2 {
  text-align: center;
  color: #333;
}

.form_container label {
  margin-bottom: 8px;
  font-weight: bold;
}

.form_container input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.form_container button {
  background-color: #154c2e;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 4px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  float: right;
  cursor: pointer;
}

.form_container button:hover {
  background-color: #45a049;
}
