.dashboard-container {
  display: flex;
}

.dashboard-nav {
  width: 160px;
  background-color: #154c2e;
  padding: 20px;
  flex-direction: column;
  margin-right: 70px;
}

.dashboard-content {
  flex-grow: 1;
}
.title-amin {
  text-align: center;
}
