.dashboard-container {
  height: 100%; /* Assurez-vous que le conteneur du tableau de bord prend toute la hauteur disponible */
  display: flex;
}

.dashboard-nav {
  width: 200px;
  background-color: #154c2e;
  padding: 20px;
  flex-direction: column;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
}
