/* formations.css */

.formations-container-wrapper {
  margin: 0 auto; /* Pour centrer le contenu */
  margin-bottom: auto;
  max-width: 1600px;
}
.formaation_descrption {
  padding: 10px 30px;
  width: 500px;
  flex-wrap: nowrap;
}

.formations-container h1 {
  text-align: center;
}
.formations-container .no-formation {
  text-align: center;
}

.formations-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  width: 100px;
  font-size: 16px;
}
.formation-periode {
  padding-left: 20px;
}
/* .hour-periode {
  padding-left: 40px;
} */
.periode-a {
  padding-right: 10px;
}
.edit_format {
  padding: 0 30px;
}

th {
  background-color: #f2f2f2;
}

.download {
  background-color: #4caf50; /* Vert */
  color: white;
  margin-left: 5px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.signup {
  background-color: #ff0000; /* Rouge */
  color: white;
  margin-left: 20px;
  font-size: 14px;
  border-radius: 5px;
}
.no-formation-content {
  text-align: center;
  margin-left: 0 auto;
  color: red;
}
.succes-sending {
  color: green;
  box-shadow: #4caf50;
  font-size: 14px;
  font-weight: 400;
}
