body {
  background: #f1f1f1;
  font-family: 'Baloo 2';
  color: rgb(0, 0, 0, 0.6);
  margin: 0;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

.hearder_root {
  background-color: #154c2e;
  color: white;
  margin-bottom: 16px;
}
.logo_sumer {
  display: block;
  text-align: center;
  font-size: 24px;
  padding: 11px 0;
}
nav {
  text-align: center;

  line-height: 1.6;
}
nav a {
  display: inline-block;
  margin: 0 12px;
  color: rgb(255, 255, 255, 0.67);
}
nav a:hover {
  color: #fff;
}
.is_active {
  color: #fff;
  padding: 5px;
  text-decoration: underline #69B275;
  text-underline-offset: 5px;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 400px) {
  nav a {
    display: block;
  }
}

@media only screen and (min-width: 946px) {
  .hearder_root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 25px;
  }
  .logo_sumer {
    padding: 0;
    padding-top: 0.5%;
    vertical-align: baseline;
  }
}
